.imu-combined-viewer > .holder > .header > .results
{
	float: right;
}
.imu-combined-viewer > .holder > .header > .icons
{
	float: left;
}

/* Commented out due to Firefox issues.

@supports (display: flex)
{
	.imu-combined-viewer > .holder > .header > .results,
	.imu-combined-viewer > .holder > .header > .icons
	{
		float: none;
	}
}
*/
