/* THIS FILE IS BUILT AUTOMATICALLY.
** DO NOT CHANGE IT DIRECTLY.
**
** Built at: 2024-11-14 17:52:27 UTC (2024-11-14 17:52:27 UTC)
*/

/* Source: ./themes/vienna/common/views/base.desktop.css
*/
.imu-widget
{
	font-size: 12px;
}

/* Source: ./themes/vienna/common/views/page.desktop.css
*/
body.imu-page
{
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

/* header
*/
.imu-page > .holder > .header
{
	height: 3.5em;
}

/* header
*/
.imu-page > .holder > .header .image
{
	height: 2.5em;
}

.imu-page > .holder > .header .title
{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding-left: 0.3em;
}

/* footer
*/
.imu-page > .holder > .footer
{
	height: 1.3em;
}

.imu-page > .holder > .footer img
{
	max-height: 1.2em;
}

/* toggle
*/
.imu-page > .holder > .toggle
{
	font-weight: bold;
	font-size: 16px;
}

/* Source: ./themes/vienna/common/views/record-details.desktop.css
*/
.imu-record-details .narrative .secondary .items > .item
{
  min-height: 4.8em;
  width: 23.0em;
}
