/* THIS FILE IS BUILT AUTOMATICALLY.
** DO NOT CHANGE IT DIRECTLY.
**
** Built at: 2024-11-14 17:52:27 UTC (2024-11-14 17:52:27 UTC)
*/

/* Source: ./themes/vienna/common/views/base.css
*/
.imu-widget
{
	font-family: "Arial";
}

/* Source: ./themes/vienna/common/views/collection-viewer.css
*/
.imu-collection-viewer .record
{
	height: 4.5em;
	overflow: hidden;
	width: 18.0em;	/* minimum */
}

.imu-collection-viewer .record table
{
	width: 100%;
}

.imu-collection-viewer .record td
{
	vertical-align: top;
}

.imu-collection-viewer .image .frame
{
	background-color: gray;
	height: 4.4em;
	text-align: center;
	width: 4.4em;
}

.imu-collection-viewer .image img
{
	max-height: 4.3em;
	max-width: 4.3em;
}

.imu-collection-viewer .title
{
	font-weight: bold;
}

/* Source: ./themes/vienna/common/views/combined-viewer.css
*/
.imu-combined-viewer .header table
{
	white-space: nowrap;
	width: 100%;
}

.imu-combined-viewer .header .navigate
{
	cursor: pointer;
	font-size: 1.5em;
	width: 1%;
}

.imu-combined-viewer .header .modules
{
	width: 98%;
}

.imu-combined-viewer .header .module
{
	cursor: pointer;
}

.imu-combined-viewer .header .result-count
{
	font-weight: bold;
	color: #3b3240;
}

.imu-combined-viewer .header .result-count:hover
{
	color: #D35F31;
}

.imu-combined-viewer .header .icons
{
	width: 1%;
}

.imu-combined-viewer .header .icon
{
	cursor: pointer;
	margin: 0.2em;
}

/* Source: ./themes/vienna/common/views/page.css
*/
.imu-page
{
	background-color: #000000;
	color: #ffffff;
	height: 99.8%;
}

body.imu-page
{
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	position: absolute;
}

/* sidebar
*/
.imu-page > .holder > .sidebar
{
	background-color: #ffffff;
	min-width: 12.0em;
	max-width: 25.0em;
	width: 25%;
}

.imu-page > .holder > .sidebar .searches-label
{
	color: #000000;
	font-weight: bold;
	padding: 0.3em;
}

.imu-page > .holder > .sidebar .collections-label
{
	color: #000000;
	font-weight: bold;
	padding: 0.3em;
}

.imu-page > .holder > .sidebar .collections
{
/*
	height: 400px;
*/
}

/* content
*/
.imu-page > .holder > .content
{
	background-color: #ffffff;
	color: #000000;
}

/* Source: ./themes/vienna/common/views/record-details.css
*/
.imu-record-details
{
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.imu-record-details .section
{
  clear: both;
}

.imu-record-details .section-heading
{
  font-weight: bold;
  padding: 0.5em;
}

.imu-record-details .multimedia.imu-multimedia-plugin
{
  background-color: #eeeeee;
  height: 28.4em;
  width: 28.4em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;

  /* needed for vertically aligning images */
  line-height: 28.4em;
}

.imu-record-details .multimedia.imu-multimedia-plugin .item
{
  text-align: center;
  max-height: 28.4em;
  max-width: 28.4em;
}

.imu-record-details .multimedia-scroller.imu-scroller-plugin
{
  height: 10em;
  text-align: center;
}

.imu-record-details .multimedia-scroller.imu-scroller-plugin
.imu-multimedia-plugin
{
  height: 8.3em;
  width: 8.3em;

  /* needed for vertically aligning images */
  line-height: 8.3em;
}

.imu-record-details .details .title
{
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}

.imu-record-details td
{
  vertical-align: top;
}

/*
** Multimedia records
*/
.imu-record-details .multimedia .items
{
  word-wrap: break-word;
}

.imu-record-details .multimedia .items .imu-multimedia-plugin
{
  height: 4.8em;
  width: 4.8em;

  /* needed for vertically aligning images */
  line-height: 4.8em;
}

/*
** Narrative records
*/
.imu-record-details .narrative .trail
{
  padding-bottom: 0.5em;
}

.imu-record-details .narrative .trail .item
{
  cursor: pointer;
  font-weight: bold;
}

.imu-record-details .narrative .secondary .items
{
  clear: both;
}

.imu-record-details .narrative .secondary .items td
{
  vertical-align: middle;
}

.imu-record-details .narrative .secondary .items > .item
{
  cursor: pointer;
  background-color: #eeeeee;
  margin: 0.2em;
}

.imu-record-details .narrative .secondary .items .imu-multimedia-plugin
{
  background-color: #eeeeee;
  height: 4.8em;
  text-align: center;
  width: 4.8em;

  /* needed for vertically aligning images */
  line-height: 4.8em;
}

/* Detail sections 
   (used to separate topics within the one record)
*/
.imu-record-details .info table
{
	word-wrap: break-word;
}

.imu-record-details .info table thead tr th
{
	font-weight: normal;
	font-style: italic;
	background-color: #EEEEEE;
}

.imu-record-details .info div.record-section-header
{
	width: 100%;
	padding: 0.5em;
	background-color: #EEEEEE;
	font-weight: bold;
}	

.imu-record-details .info table tr td.prompt
{
	width:12.5em;
}

/* References to other viewable records */
.imu-record-details .info .details .record-link
{
	cursor: pointer;
	text-decoration: underline;
}

/* Tables from records */
.imu-record-details .info table thead tr th
{
	font-weight: normal;
	font-style: italic;
	background-color: #EEEEEE;
}	

.imu-record-details .link
{
	cursor: pointer;
	text-decoration: underline;
}

/* Source: ./themes/vienna/common/views/details-viewer.css
*/
.imu-details-viewer .record
{
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5em;
}

/* Source: ./themes/vienna/common/views/lightbox-viewer.css
*/
.imu-lightbox-viewer .record
{
	height: 20.0em;
	overflow: hidden;
	padding: 0.5em;
	width: 20.0em;		/* minimum */
}

.imu-lightbox-viewer .frame
{
	background-color: gray;
	height: 18.0em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 18.0em;
}

.imu-lightbox-viewer .frame img
{
	max-height: 17.0em;
	max-width: 17.0em;
}

.imu-lightbox-viewer .no-image
{
	height: 80%;
	width: 80%;
	margin: 1.8em 0;
}

.imu-lightbox-viewer .info
{
	height: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 18.0em;
}

.imu-lightbox-viewer .title
{
	cursor: pointer;
	font-weight: bold;
	width: 15.5em;
}

.imu-lightbox-viewer .select
{
	width: 1.5em;
}

/* Source: ./themes/vienna/common/views/list-viewer.css
*/
.imu-list-viewer .record
{
	height: 10.0em;
	overflow: hidden;
	width: 30.0em;	/* minimum */
}
.imu-list-viewer .record td
{
	vertical-align: top;
}
.imu-list-viewer .image-frame
{
	background-color: gray;
	height: 100px;
	text-align: center;
	width: 100px;
}
.imu-list-viewer .image
{
	max-height: 90px;
	max-width: 90px;
}
.imu-list-viewer .no-image
{
	height: 80%;
	width: 80%;
	margin: 10px 0;
}
.imu-list-viewer .title
{
	cursor: pointer;
	font-weight: bold;
}
.imu-list-viewer .description
{
	overflow: hidden;
	height: 7.0em;
}

/* Source: ./themes/vienna/common/views/tree-viewer.css
*/
#tree-viewer-holder
{
	overflow: auto;
}

#tree-viewer-holder a.scroll
{
	padding-bottom: 10px;
}
/* Source: ./themes/vienna/common/views/my-collections.css
*/
.imu-my-collections.owner
{
	padding: 0.3em;
}

.imu-my-collections .holder
{
	background-color: #eeeeee;
	color: #000000;
	overflow: hidden;
}

.imu-my-collections .label
{
	font-weight: bold;
}

.imu-my-collections .header button
{
	background-color: inherit;
/*
	border: 0px;
	margin: 0;
*/
}

/* Source: ./themes/vienna/common/views/comments-control.css
*/
.imu-comments-control
{
	width: 100%;
}

.imu-comments-control textarea
{
	width: 100%
}

.post-comment-btn
{
	float: right;
}

.imu-comments
{
	width: 100%;
}

.imu-comment
{
	border-bottom: 2px solid #F1F2F7;
}

.imu-comment-timestamp
{
	font-weight: bold;
	width: 100%;
	float: left;
}

.imu-comment-text
{
	width: 100%;
	float: left;
}
/* Source: ./themes/vienna/common/views/sort-control.css
*/

/* Source: ./themes/vienna/common/views/faceted-search-control.css
*/
.imu-faceted-search-control
{
	color: #333333;
}

.facet-count
{
	font-weight: bold;
}

.facet-title
{	
	font-size: 14px;
	line-height: 25px;
	color: #76607e;
	border-bottom: 1.5px solid #eeeeee;
}

.facet-text
{
	cursor: pointer;
}

.facet-text:hover
{
	text-decoration: underline;
	font-weight: bold;
}
