/* THIS FILE IS BUILT AUTOMATICALLY.
** DO NOT CHANGE IT DIRECTLY.
**
** Built at: 2024-11-14 17:52:27 UTC (2024-11-14 17:52:27 UTC)
*/

/* Source: ./themes/vienna/common/views/page.phone.css
*/
body.imu-page
{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

/* header
*/
.imu-page > .holder > .header
{
	height: 0.0em;
}

/* footer
*/
.imu-page > .holder > .footer
{
	height: 0.0em;
}

/* toggle
*/
.imu-page > .holder > .toggle
{
	font-weight: bold;
	font-size: 42px;
}
