.imu-default-page > .holder > .header .logo,
.imu-default-page .header > button.toggle > img
{
	float: right;
}
.imu-default-page > .holder > .header .keyword-search,
.imu-default-page .header > button.toggle > .toggle-icon
{
	float: left;
}

/* Commented out due to Firefox issues.

@supports (display: flex)
{
	.imu-default-page > .holder > .header .logo,
	.imu-default-page > .holder > .header .keyword-search,
	.imu-default-page .header > button.toggle > img,
	.imu-default-page .header > button.toggle > .toggle-icon
	{
		float: none;
	}
}
*/
