.imu-combined-viewer .header table
{
	white-space: nowrap;
	width: 100%;
}

.imu-combined-viewer .header .navigate
{
	cursor: pointer;
	font-size: 1.5em;
	width: 1%;
}

.imu-combined-viewer .header .modules
{
	width: 98%;
}

.imu-combined-viewer .header .module
{
	cursor: pointer;
}

.imu-combined-viewer .header .result-count
{
	font-weight: bold;
	color: #3b3240;
}

.imu-combined-viewer .header .result-count:hover
{
	color: #D35F31;
}

.imu-combined-viewer .header .icons
{
	width: 1%;
}

.imu-combined-viewer .header .icon
{
	cursor: pointer;
	margin: 0.2em;
}
