.imu-page
{
	background-color: #000000;
	color: #ffffff;
	height: 99.8%;
}

body.imu-page
{
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	position: absolute;
}

/* sidebar
*/
.imu-page > .holder > .sidebar
{
	background-color: #ffffff;
	min-width: 12.0em;
	max-width: 25.0em;
	width: 25%;
}

.imu-page > .holder > .sidebar .searches-label
{
	color: #000000;
	font-weight: bold;
	padding: 0.3em;
}

.imu-page > .holder > .sidebar .collections-label
{
	color: #000000;
	font-weight: bold;
	padding: 0.3em;
}

.imu-page > .holder > .sidebar .collections
{
/*
	height: 400px;
*/
}

/* content
*/
.imu-page > .holder > .content
{
	background-color: #ffffff;
	color: #000000;
}
