.imu-record-details .section-buttons
{
  float: right;
}

.imu-record-details .multimedia .items
{
  padding-right: 2em;
}

.imu-record-details .multimedia .items th
{
  padding-left: 1em;
  text-align: right;
}

.imu-record-details .multimedia .items tr td
{
  padding-left: 1em;
}

.imu-record-details .narrative .secondary .items > .item
{
  float: right;
}

.imu-record-details .info table tr td.prompt                                    
{
    padding-left: 0.5em;
}

/* Supplementary tab data                                                       
*/
.imu-record-details .info table tr td
{
    text-align: right;
/*    padding-left: 0.8em;*/
}
