.imu-app .input > .wrapper.imu-capture-control
{
	border: none;
}
.imu-capture-control > .holder > .content
{
	background-color: #ffffff;
	position: relative;
	width: 100%;
}

.imu-capture-control .holder .content,
.imu-capture-control-dropzone,
.imu-capture-control-resources,
.imu-capture-control-resources + .no-items-text
{
	box-sizing: border-box;
}

.imu-capture-control .holder > * + *
{
	margin-top: 0.5em;
}

/* Resources
*/
.imu-capture-control-resources
{
	padding: 0 0.5rem;
}
.imu-capture-control-resources .resource > *
{
	padding: 0.25rem;
}
.imu-capture-control-resources .resource + .resource > *
{
	border-top: solid 1px lightgrey;
}

/* Prompt area
*/
.imu-capture-control .prompt-area > div
{
    border: dashed 2px;
}

/* Prompt area - resources
*/
.imu-capture-control-resources ~ .prompt-area
{
	background: rgba(255, 255, 255, 1);
	padding: 0.25rem;
}


/* Border styling
*/
.imu-capture-control-dropzone.drag-over .prompt-area
{
	background-color: rgba(220, 233, 241, 0.25);
	padding: 0.0em;

	-webkit-transition: background-color 150ms, padding 50ms;
	transition: background-color 150ms, padding 50ms;
	transition-timing-function: ease-in;
}
.imu-capture-control-dropzone.drag-over .prompt-area > div
{
	border-color: rgba(0,0,0, 0.25);
	-webkit-transition: border 75ms;
	transition: border 75ms;
	transition-timing-function: ease-in;
}
