.imu-app > .login > .holder
{
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
    border: solid 1px #E0E0E0;
}

.imu-app > .login > .holder > .row
{
	height: 1.7em;
	line-height: 1.7em;
}
.imu-app > .login > .holder > .username > *
{
	margin-bottom: 0.5em;
}

.imu-app > .login input
{
	border: solid 1px #E0E0E0;
	text-indent: 0.25em;
	width: 100%;
}
