.imu-search-form form > .input > .prompt
{
    float: left;
}

.imu-search-form form > .input > .input
{
    float: right;
}

/* Commented out due to Firefox issues.

@supports (display: flex)
{
	.imu-search-form form > .input
    {
        float: none;
    }
}
*/
